* {
	padding : 0;
	margin: 0;
}

input {
	border: 1px solid #C6C6C6;
}

body {
	background-color: #E8E8E8;
}
#todo-add {
	width : 400px;
}

#selectAll {
	background-color: #FFF;
	height : 60px;
	padding-left : 7px;
	font-size: 30px;
	padding-right: 8px;
	display : inline-block;
	float ; left ;
	border: 1px solid #C6C6C6;
	padding-top : 9px;
	color : #C6C6C6;
}

a#selectAll:hover{
	text-decoration: none;
}

input#todoInput {
	height: 60px;
	width : 358px;
	padding : 10px 12px;
	font-size: 30px;
	display : inline-block;
	float : right;
}

a#checker{
	text-decoration: none;
	color : #DEDEDE;
}
a#checker:hover{
	text-decoration: none;
	color : #DEDEDE;
}

li.isDone > a#checker{
	color : #8AE62E !important;
}

li.isDone > span {
	text-decoration: line-through;
	color : #C4C4C4;
}

.checkbox{
	display : inline-block !important;
}
.non-list {
	list-style: none;
	/*display: block;*/
}

.list-item{
	font-size: 30px;
	background-color: #FFF;
	padding : 0px 5px 0px 7px;
	width : 400px;
	border: 1px solid #C6C6C6;
	/*display: block;*/
}

.list-item > span {
	padding-left : 10px;
	border-left: 1px solid #C6C6C6;
	width : 320px;
	display : inline-block;
}

.del{
	text-decoration: none;
	color : #FFF;
	background-color: #C6C6C6;
	font-size: 18px;
	padding : 0px 6px 3px 6px;
	border-radius: 12px;
	float: right;
	margin-top : 8px;
}

.del:hover {
	text-decoration: none;
	color : #FFF;
}

#editMode{
	padding : 0px 10px;
	width : 324px;
	height : 42px;
}

.isSelected{
	color : #8AE62E !important;
}

.statusContainer{
	background-color: #F9F9DF;
	height : 40px;
	width : 360px;
	display: block;
	margin-left: 20px;
	margin-top : -10px;
	padding-top: 10px;
	padding-left: 5px;
}
a#deleteAll {
	float : right;
	margin-right: 10px;
	text-decoration: none;
	font-size: 12px;
	padding : 3px 7px;
	background-color: #C6C6BA;
	border-radius: 10px;
	color : #FFF;
}

a#deleteAll:hover {
	text-decoration: none;
	background-color : #9E9E95;
	color : #000;
}

#items-left {
	font-weight: bold;
}

.hide{
	display : none;
}
